@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
  }
}

@layer utilities {
  .bg-radial-custom {
    background: radial-gradient(
      ellipse at top center,
      rgb(31, 55, 86),
      rgb(20, 21, 57)
    );
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* - Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%) */

/* - Scissors Gradient: #ec9e0e to  #eca922,
- Paper Gradient: #4865f4 to  #5671f5,
- Rock Gradient: #dc2e4e to  #dd405d
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%) */

/* rgb(96, 110, 133) */
/* #606e85 header outline */
/* #3b4363  dark text */
/* #2a46c0  score text */
