@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
  }
}

@layer utilities {
  .bg-triangle {
    background: url("../src/assets/images/bg-triangle.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

/* rgb(96, 110, 133) */
/* #606e85 header outline */
/* #3b4363  dark text */
/* #2a46c0  Score text */
